{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>  
  <style>
    input[type="file"] {
      opacity: 0;
    }

    input[type="file"] {
      color: rgba(0, 0, 0, 0);
    }

    #button {
      display: inline-block;
      background-color: indigo;
      color: white;
      padding: 0.5rem;
      font-family: sans-serif;
      border-radius: 0.3rem;
      cursor: pointer;
      margin-top: 1rem;
      width: 80%;
    }

    #button span {
      font-size: 13px;
      padding: 5px;
    }

    .Input {
      text-align: center;
    }
  </style>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dashboard</div>
      </a>


      <!-- Divider -->
      <hr class="sidebar-divider my-0" />
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Login</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hotel/list">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Hotels</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hotelrate/list">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Hotel Rates</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/company/list">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Companies</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hotel/add">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Add Hotel</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hotelrate/add">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Add HotelRate</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/company/add">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Add Company</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/create-quotation">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Create Quotation</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>logout</span></a>
      </li>
  
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />
    </ul>
    
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>
        </nav>
        <!-- End of Topbar -->
        <div class="container" >
          <h3 class="text-center m-3 p-3">Core Inputs</h3>
          <div class="container table-responsive">
            <form method='post'>
              {% csrf_token %}
              <div id="sdklfj">
            <table class="table">
              <thead>
                <tr>
                  {%for col in table_values.keys%}
                  <th class='text-capitalize' scope="col">{{col}}</th>
                  {%endfor%}
                </tr> 
              </thead>
              <tbody>
                <tr>
                  {%for table in table_values.values%}
                  <td><input type="text" class="form-control" name="{{ forloop.counter0 }}" value="{{table}}"/></td>
                  {%endfor%}
                </tr>
              </tbody>
            </table>
          </div>
            <div class='text-center'>
            <button class='btn btn-primary p-3 w-30 m-3'>Update</button>
            </div>
          </form>
          <div id="customers">
            <table id="tab_customers" class="table table-striped">
                <thead>
                    <tr class='warning'>
                      {%for col in table_values.keys%}
                        <th>{{col}}</th>
                      {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      {%for value in table_values.values%}
                      <td><input type="text" class="form-control" name="{{ forloop.counter0 }}" value="{{value}}"/></td>
                      {%endfor%}
                    </tr>
                 
                </tbody>
            </table>
        </div>
<button onclick="javascript:demoFromHTML();">PDF</button>


          </div>
        </div>


        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{%static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>    <script>

  function demoFromHTML() {
      var pdf = new jsPDF('p', 'pt', 'letter');
      source = $('#customers')[0];

      specialElementHandlers = {
          // element with id of "bypass" - jQuery style selector
          '#bypassme': function (element, renderer) {
              // true = "handled elsewhere, bypass text extraction"
              return true
          }
      };
      margins = {
          top: 80,
          bottom: 60,
          left: 40,
          width: 522
      };
      // all coords and widths are in jsPDF instance's declared units
      // 'inches' in this case
      pdf.fromHTML(
      source, // HTML string or DOM elem ref.
      margins.left, // x coord
      margins.top, { // y coord
          'width': margins.width, // max width of content on PDF
          'elementHandlers': specialElementHandlers
      },
  
      function (dispose) {
          // dispose: object with X, Y of the last line add to the PDF 
          //          this allow the insertion of new lines after html
          pdf.save('Test.pdf');
      }, margins);
  }
  
  
    </script>
</body>

</html>