{% extends 'partials/base.html' %}

{% block content %}
<head>
  <title>Company List</title>
</head>
<body>
  <h1>Company List</h1>
  <ul>
      {% for company in companies %}
      <li>{{ company.company_name }}</li>
      {% endfor %}
  </ul>
</body>
{% endblock %}

<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <div class ="addHotel"> 
        <h2> Add Hotel details </h2>
        <form class="site-form" action ="{% url 'quotation:addHotel'}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Add Hotel">
        </form>
      </div>
</html> -->
