{% extends 'partials/base.html' %}

{% block content %}
<head>
  <title>Hotel Rate List</title>
</head>
<body>
  <h1>Hotel Rates List</h1>
  <ul>
      {% for hotelrate in hotelrates %}
      <li>
        {{hotelrate.hotel_name}} {{hotelrate.rate_type}} {{hotelrate.rate_season}} {{hotelrate.room_category}} {{hotelrate.traveller_type}} {{hotelrate.date_applicable_from}} {{hotelrate.date_applicable_to}}
      </li>
      {% endfor %}
  </ul>
</body>
{% endblock %}

<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <div class ="addHotel"> 
        <h2> Add Hotel details </h2>
        <form class="site-form" action ="{% url 'quotation:addHotel'}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Add Hotel">
        </form>
      </div>
</html> -->
